.grid-container
{
    display : grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    font-family: 'Comfortaa';
}
.item1
{
    grid-column: 1/span 2;
    grid-row: 1;
}
.grid-item 
{
    background-color: white;
    text-align: left;
    padding: 20px;
    font-size: 20px;
    font-family: 'Comfortaa';
}
h1
{
    color:blue;
    font-family: 'Comfortaa';
}
input[type=submit] 
{
    background-color: rgb(87, 180, 211); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}
select
{
    background-color: rgb(87, 180, 211);
    border-radius: 25px;
    padding: 16px 20px;
    border: none;
    font-size: 16px;
}
a:link 
  {
    color: green;
    text-decoration: none;
  }
  a:visited 
  {
    color: green;
    text-decoration: none;
  }
  a:hover 
  {
    color: lightgreen;
  }
  a:active 
  {
    color: blue;
    text-decoration: none;
  }